@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Outfit;
  src: url("/fonts/Outfit-Bold.ttf") format("truetype");
}

.welcome-bg {
  /* UI Properties */
  background: transparent linear-gradient(180deg, #e8f6ff 0%, #beb2fb 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}
.footer {
  background: #d0c8f6 0% 0% no-repeat padding-box;
  opacity: 1;
}
.no-bg-btn {
  width: 183px;
  height: 23px;
  text-align: center;
  font: normal normal normal 18px/23px Outfit;
  letter-spacing: 0px;
  color: #33347e;
  opacity: 1;
}
.login-bg {
  background: #f3f1ff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.input {
  background: #f3f1ff 0% 0% no-repeat padding-box;
  border: 1px solid #b0a2f9;
  opacity: 1;
  height: 35px;
}
.primary-btn {
  background: #d0c8f6 0% 0% no-repeat padding-box;
  color: #000000;
}
.main-bg {
  background: #e0dbfa 0% 0% no-repeat padding-box;
  opacity: 1;
}
.navbar-bg {
  background: #d4eefe 0% 0% no-repeat padding-box;
  opacity: 1;
}
.primary-color {
  color: #33347e;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 219px;
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
